.student-name {
  font-family: 'Comic Sans MS';
  color: papayawhip;
  background-color: navy;
}

.student-details {
  font-family: 'Comic Sans MS';
  color: navy;
}

.absent {
  background-color: rgba(255, 0, 0, .5);
}

.present {
  background-color: rgba(80, 255, 80, .5);
}